<body style="background: url(<%= @genre.image_background %>) no-repeat;">
  <div class="container p-5">
   <div class="d-flex justify-content-between align-items-end px-5">
      <% if user_signed_in? %>
        <h2>
          You currently have 
          <%= link_to games_user_path(current_user) do %>
            <%= pluralize(@game_genre_count, "#{@genre.name} game") %>
          <% end %>
          in your gaming library
        </h2>
      <% end %>
      <h1 class="heading heading--large text-right"><u><%= @genre.name %></u></h1>
   </div>
    <div class="genre__description">
      <%= @genre.description.html_safe %>
    </div>
  </div>

  <%= render 'games/games', games: @games, user: current_user %> 
</body>