<body style="background: url(<%= @platform.image_background %>) no-repeat;">
  <div class="container p-5">
     <div class="d-flex justify-content-between align-items-end px-5">
      <% if user_signed_in? %>
        <h2>You have 0 <%= @platform.name %> games, add some to your library!</h2>
      <% end %>
      <h1 class="heading heading--large text-right"><u><%= @platform.name %></u></h1>
   </div>
    <div class="platform__description">
      <%= @platform.description.html_safe %>
    </div>
  </div>

  <%= render 'games/games', games: @games, user: current_user %>
</body>