<body style="background: url(<%= @platform.image_background %>) no-repeat;">
  <div class="container p-5">
    <div class="d-sm-flex flex-md-row-reverse flex-sm-column justify-content-sm-between align-items-md-baseline text-md-left text-right px-5">
      <h1 class="heading heading--large ml-5 text-right"><u><%= @platform.name %></u></h1>
      <% if user_signed_in? %>
        <h2>
          You currently have 
          <%= link_to games_user_path(current_user), class: "platform__game-count" do %>
             <%= pluralize(current_user.platform_game_count(@platform.name), "#{@platform.name} game") %>
          <% end %>
          in your gaming library
        </h2>
      <% end %>
    </div>
    <div class="platform__description d-none d-sm-block">
      <%= @platform.description.html_safe %>
    </div>
  
    <%= render 'games/games', games: @games, user: current_user %>
  </div>
</body>