<div class="container mt-5">
  <h1 class="text-center heading heading--large">
    <span class="text--teal"><%= @library.owner %>'s</span> games
    <% if params[:status] %>
      - <span class="text--teal"><%= params[:status] %></span>
    <% end %>
  </h1>

  <ul class="status__list">
    <li class="status__list-item">
      <%= link_to(
        "All games",
        user_library_path(@library.id),
        class: "status__list-link"
      ) %>
    </li>

    <% game_statuses.each do |status| %>
      <li class="status__list-item">
        <%= link_to(
          status,
          user_library_path(@library.id, status: status),
          class: "status__list-link"
        )%>
      </li>
    <% end %>
  </ul>

  <%= render 'games/games', games: @library.games %>
</div>
