<% content_for(:title, games_library_title(@library)) %>

<div class="container mt-5 library">
  <h1 class="text-center heading heading--large">
    <span class="text--teal"><%= @library.owner %>'s</span> games
    <% if params[:status] %>
      - <span class="text--teal"><%= params[:status] %></span>
    <% end %>
  </h1>

  <% if current_user.id == @library.id %>
    <%= link_to "My friend requests", user_friend_requests_path(current_user) %>
  <% end %>

  <% if current_user.id != @library.id %>
    <% if current_user.has_pending_friendship_with?(@library.id) %>
      <%= button_to(
        "Friend request pending",
        "#",
        disabled: true,
        class: "button button--yellow text-center mt-2",
      ) %>
    <% elsif current_user.is_friends_with?(@library.id) %>
      <%= button_to(
        "Friends",
        "#",
        disabled: true,
        class: "button button--blue text-center mt-2",
      ) %>
    <% else %>
      <%= button_to(
        "Send friend request",
        friend_requests_path(
          friend_request: { user_id: current_user.id, friend_id: @library.id }
        ),
        class: "button button--teal text-center mt-2",
      ) %>
    <% end %>
  <% end %>

  <ul class="status__list">
    <li class="status__list-item">
      <%= link_to(
        "All games",
        user_library_path(@library.id),
        class: "status__list-link"
      ) %>
    </li>

    <% game_statuses.each do |status| %>
      <li class="status__list-item">
        <%= link_to(
          status,
          user_library_path(@library.id, status: status),
          class: "status__list-link"
        )%>
      </li>
    <% end %>
  </ul>

  <%= render 'games/games', games: @library.games %>
</div>
