  <h1>
    <%= @user == current_user ? "My" : "#{@user.name}'s" %> games 
    <% if params[:status] %>
      - <%= params[:status] %>
    <% end %>
  </h1>

<ul>
  <li><%= link_to "All games", games_user_path(@user) %></li>
  <% game_statuses.each do |status| %>
    <li><%= link_to status, games_user_path(@user, status: status) %></li>
  <% end %>
</ul>

<%= render 'games/games', games: @games, user: @user %>