<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% else %>
        <li><%= link_to "My games", games_user_path(current_user) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% end %>

      <li><%= link_to "Find a game", games_path %></li>
      <% top_genres.each do |genre| %>
        <li><%= link_to genre, genre_path(convert_to_slug(genre)) %></li>
      <% end %>

      <% top_platforms.each do |platform| %>
        <li><%= link_to platform, platform_path(convert_to_slug(platform)) %></li>
      <% end %>
    </ul>
  </nav>
</header>