<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% else %>
        <li><%= link_to "My games", games_user_path(current_user) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% end %>

      <li><%= link_to "Find a game", search_games_path %></li>
      <% Game::TOP_GENRES.each do |genre| %>
        <li><%= link_to genre, genre == "RPG" ? genre_path("role-playing-games-rpg") : genre_path(genre)%></li>
      <% end %>
    </ul>
  </nav>
</header>