<div class="card__container">
  <% games.each do |game| %>
    <div class="card" id="<%= game["slug"] %>">
      <h1><%= game["name"] %></h1> 

      <% if game["clip"] != nil %>
        <% if game.is_a?(Hash) %>
          <%= video_tag game["clip"]["clip"], poster: game["background_image"], muted: true, class: "card__video" %>
        <% else %>
          <%= video_tag game.clip, poster: game["background_image"], muted: true, class: "card__video" %>
        <% end %>
      <% else %>
        <%= image_tag "#{game["background_image"]}", class: "card__image" %>
      <% end %>

      <% if game["platforms"].present? %>
        <% game["platforms"].each do |platform| %>
          <span><%= game.is_a?(Hash) ? platform["platform"]["name"] : platform %></span>
        <% end %>
      <% end %>
      <p><%= game["released"] %></p>
      
      <div class="card__btn-wrapper">
        <%= button_to "Show more", game_path(game["slug"]), method: :get, class: "card__btn btn btn--small" %>
        <%= button_to "Games like this", discover_path(game["slug"]), method: :get, class: "card__btn btn btn--small" %>
        
        <% if game.is_a?(Game) && game.was_added?(user, game) && user == current_user %>
          <%= form_with url: user_game_path(UserGame.find_game(user, game)), 
            id: "#{game["slug"]}-game-status", method: :patch, local: true do |f| %>
            <%= f.select "status", 
              options_for_select(game_statuses, game.current_status(user)), {}, onchange: "this.form.submit()", id: "#{game["slug"]}-status" %>
              <%= f.select "platform",
              options_for_select(game.platforms, game.current_platform(user)), {}, onchange: "this.form.submit()", id: "#{game["slug"]}-platform" %>
          <% end %>
          <%= button_to "Remove from library", user_game_path(game["id"]), method: :delete, 
            data: { confirm: 'Are you sure you want to remove this game from your library?'}, class: "card__btn btn btn--small" %>
        <% else %>
          <%= button_to "Add to library", games_path(game: { slug: game["slug"] }), 
            class: "card__btn btn btn--small" %>        
        <% end %>
      </div>
    </div> <!--/Card-->
  <% end %>
</div>