<div class="card__container">
  <% games.each do |game| %>
    <div class="card" id="<%= game["slug"] %>">
      <h1><%= game["name"] %></h1> 
      <%= image_tag "#{game["background_image"]}", class: "card__image" %>

      <% if game["platforms"].present? %>
        <% game["platforms"].each do |platform| %>
          <span><%= game.is_a?(Hash) ? platform["platform"]["name"] : platform %></span>
        <% end %>
      <% end %>
      <p><%= game["released"] %></p>
      
      <div class="card__btn-wrapper">
        <% if !user_signed_in? || user_signed_in? && !current_user.added_game?(game) %>
          <%= button_to "Add to library", games_path(game: { slug: game["slug"] }), 
            class: "card__btn btn btn--small" %>
        <% elsif user == current_user %>
          <%= button_to "Remove from library", user_game_path(game["id"]), method: :delete, 
            data: { confirm: 'Are you sure you want to remove this game from your library?'}, class: "card__btn btn btn--small" %>
        <% end %>
        <%= button_to "Show more", game_path(game["slug"]), method: :get, class: "card__btn btn btn--small" %>
      </div>
    </div> <!--/Card-->
  <% end %>
</div>