<div class="card">
  <h1><%= @game.name %></h1> 
  <%= image_tag "#{@game.background_image}", class: "card__image" %>

  <% if @game.platforms.present? %>
    <% @game.platforms.each do |platform| %>
      <span><%= platform %></span>
    <% end %>
  <% end %>

  <p><%= @game.released %></p>
</div>

<h1>Genres</h1>

<% @game.genres.each do |genre| %>
  <%= genre %>
<% end %>

<h1>Screenshots</h1>
<% @game_screenshots.each do |screenshot| %>
  <%= image_tag "#{screenshot["image"]}" %>
<% end %>
<% if !user_signed_in? || (user_signed_in? && !current_user.added_game?(@game)) %>
  <%= link_to "Add to library", games_path(game: { slug: @game.slug }), method: :post %>
<% else %>
  <%= link_to "Remove from library", user_game_path(@game), method: :delete, 
    data: { confirm: 'Are you sure you want to remove this game from your library?'} %>
<% end %>

<h1>Also from the same series as <%= @game.name %></h1>
<%= render 'games', games: @series_games, user: current_user %>

<h1>Similar games</h1>
<%= render 'games', games: @similar_games, user: current_user %>