<div class="container game-comparisons">
  <div class="row">
    <div class="col-lg-11 offset-lg-1 col-12">
      <h2 class="mb-4">
        <%= link_to(
          @user.name,
          user_library_path(@user),
          class: "game-comparisons__link",
        ) %>
        <span>> Compare Games</span>
      </h2>

      <% if @user.games.empty? %>
        <p><%= @user.first_name %> hasn't added any games.</p>
      <% end %>

      <% if @g_c_d.games_in_common.any? %>
        <div class="d-flex">
          <div class="d-flex align-items-center mr-5">
            <div
              style="<%= circle_size_for(@user) %>"
              class="game-comparisons__their-circle"
              >
            </div>
            <div
              style="<%= circle_size_for(current_user, @g_c_d.games_in_common.size) %>"
              class="game-comparisons__my-circle"
              >
            </div>
          </div>

          <div class="game-comparisons__stats">
            <p class="m-0">
              <span class="game-comparisons__bullet--their"></span>
              <%= link_to(
                "#{@user.first_name}'s games:",
                user_library_path(@user),
                class: "game-comparisons__link",
              ) %>
              <span>
                <%= @user.games.size %>
              </span>
              <span>
                (<%= @g_c_d.total_games_not_in_common_for(@user) %> not in common)
              </span>
            </p>

            <p class="m-0">
              <span class="game-comparisons__bullet--same"></span>
              <span>
                Games in common: <%= @g_c_d.games_in_common.size %>
              </span>
              <span>
                (<%= @g_c_d.percentage_in_common_for(current_user) %> of your library
                and <%= @g_c_d.percentage_in_common_for(@user) %> of their library)
              </span>
            </p>

            <p class="m-0">
              <span class="game-comparisons__bullet--mine"></span>
              <%= link_to(
                "My games:",
                user_library_path(current_user),
                class: "game-comparisons__link",
              ) %>
              <span>
                <%= current_user.games.size %>
              </span>
              <span>
                (<%= @g_c_d.total_games_not_in_common_for(current_user) %> not in common)
              </span>
            </p>
          </div>
        </div>

        <div class="game-comparisons__games-in-common">
          <table>
            <thead>
              <tr>
                <td>game</td>
                <td>name</td>
                <td><%= @user.first_name %>'s status</td>
                <td>my status</td>
              </tr>
            </thead>

            <tbody>
              <% @g_c_d.games_in_common.each do |game| %>
                <tr>
                  <td>
                    <%= image_tag(
                      game.background_image,
                      class: "game-comparisons__game-image"
                    ) %>
                  </td>
                  <td>
                    <%= game.name %>
                  </td>
                  <% game.user_games.each do |user_game| %>
                    <td>
                      <%= user_game.status %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p>You and <%= @user.first_name %> don't have games in common.</p>
      <% end %>
    </div>
  </div>
</div>
