<div class="container">
  <div class="form__box form--centered p-5 text-center mt-10 mb-5">
    <h2 class="heading heading--large text--green mb-3"><u>Log in</u></h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email, class: "form__label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form__field" %>
      </div>
    
      <div class="field form-group">
        <%= f.label :password, class: "form__label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control form__field" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me, class: "form-check-input form__check-input" %>
          <%= f.label :remember_me, class: "form-check-label form__check-label" %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn--red btn-block my-5" %> 
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>