<div class="container">
  <h2>
    <%= link_to @user.name, user_library_path(@user) %>
    <span>> Compare Games</span>
  </h2>

  <% if @user.games.empty? %>
    <p><%= @user.first_name %> hasn't added any games.</p>
  <% end %>

  <% if @games.any? %>
    <p>
      <%= @user.first_name %>'s games: <%= @user.games.size %> (<%= @user.games.size - @games.size %> not in common)
    </p>
    <p>
      Games in common: <%= @games.size %>
    </p>
    <p>
      My games: <%= current_user.games.size %> (<%= current_user.games.size - @games.size %> not in common)
    </p>
  <% else %>
    <p>You and <%= @user.first_name %> don't have games in common.</p>
  <% end %>
</div>
