<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <%= render "header" %>
      <% if flash[:notice] %>
        <div class="alert alert-success text-center heading heading--normal">
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger text-center heading heading--normal">
          <%= alert %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <div class="container-fluid p-0 mt-auto">
      <%= render "footer" %>
    </div>
  </body>
</html>
